
@import './styles/styles.import'

*,
*:after,
*:before
  box-sizing: border-box
  margin: 0
  padding: 0


.wrapper
  max-width: 800px
  width: 100%
  background: blue
  margin: 0 auto
  padding-bottom: 70px